body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 800px;
    margin: auto;
    background-color: papayawhip;
}

.content {
    padding: 20px;
}

h1 {
    text-align: center;
}

.food-image {
    width: 480px;
    display: block;
    margin: auto;
}

.fp-list {
    padding: 5px;
}